.DS_Store
*~
*.swp

#Xcode
#*.xcworkspace
xcuserdata

# XcodePlugin
ObjcUML
iOSInjectionProject

#CocoaPod
Pods/*

# rubocop
.rubocop_todo.yml

# vim
.vim/bundle
.netrwhist

# IntelliJ IDEA
.idea

# Node
node_modules
