[user]
	name = shuhei
	email = kawashu0723@gmail.com
[core]
	editor = vim
        excludesfile = ~/.gitignore
[alias]
  a = add --all
  co = checkout
  cm = commit
  p = push -u origin
  f = fetch -p
  st = status -sb
  tags = tag -l
  br = branch -a
  remotes = remote -v
  d = diff
[color]
	ui = 1
