.DS_Store
*~
*.swp

#Xcode
*.xcworkspace
xcuserdata

# XcodePlugin
ObjcUML
iOSInjectionProject

#CocoaPod
Pods/*
Podfile.lock

# rubocop
.rubocop_todo.yml

# Carthage
Carthage/Build
Carthage/Checkouts
Carthage/Cartfile.resolved

# vim
.vim/bundle

# IntelliJ IDEA
.idea
