[user]
	name = akaimo
	email = kawashu0723@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
  a = add --all
  co = checkout
  cm = commit
  p = push -u origin
  f = fetch -p
  st = status -sb
  tags = tag -l
  br = branch -a
  remotes = remote -v
  d = diff
[color]
	ui = 1
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = !aws --profile CodeCommitProfile codecommit credential-helper $@
	UseHttpPath = true
