[user]
	name = akaimo
	email = kawashu0723@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
  a = add --all
  co = checkout
  cm = commit
  p = !git push -u origin `git rev-parse --abbrev-ref HEAD`
  f = fetch -p
  st = status -sb
  tags = tag -l
  br = branch -a
  remotes = remote -v
  d = diff
  delete-merged-branch = "!f() { git branch --merged|egrep -v '\\*|develop|master' | xargs git branch -d; };f"
  history = "!f() { file=$(rg --files --hidden . | fzf --preview 'cat {}'); if [ -n \"${file}\" ]; then git log -p ${file}; fi;  };f"
[color]
	ui = 1
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = !aws --profile CodeCommitProfile codecommit credential-helper $@
	UseHttpPath = true
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
