---
- name: Update homebrew
  community.general.homebrew:
    update_homebrew: 'yes'
    upgrade_all: 'no'

- name: Setup directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.claude"
    state: directory
    mode: "0755"

- name: Setup dotfiles
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  with_items:
    - src: '~/dotfiles/.vimrc'
      dest: '~/.vimrc'
    - src: '~/dotfiles/.vim'
      dest: '~/.vim'
    - src: '~/dotfiles/.config/nvim'
      dest: '~/.config/nvim'
    - src: '~/dotfiles/.bashrc'
      dest: '~/.bashrc'
    - src: '~/dotfiles/.bash_profile'
      dest: '~/.bash_profile'
    - src: '~/dotfiles/.zshrc.akaimo'
      dest: '~/.zshrc.akaimo'
    - src: '~/dotfiles/.tmux.conf'
      dest: '~/.tmux.conf'
    - src: '~/dotfiles/.gitconfig'
      dest: '~/.gitconfig'
    - src: '~/dotfiles/.gitignore'
      dest: '~/.gitignore'
    - src: '~/dotfiles/.rubocop.yml'
      dest: '~/.rubocop.yml'
    - src: '~/dotfiles/.xvimrc'
      dest: '~/.xvimrc'
    - src: '~/dotfiles/.ideavimrc'
      dest: '~/.ideavimrc'
    - src: '~/dotfiles/.config/mise'
      dest: '~/.config/mise'
    - src: '~/dotfiles/.config/ghostty'
      dest: '~/.config/ghostty'
    - src: '~/dotfiles/.claude/CLAUDE.md'
      dest: '~/.claude/CLAUDE.me'
    - src: '~/dotfiles/.claude/settings.json'
      dest: '~/.claude/settings.json'
    - src: '~/dotfiles/.claude/statusline.sh'
      dest: '~/.claude/statusline.sh'
    - src: '~/dotfiles/.npmrc'
      dest: '~/.npmrc'

- name: Install homebrew packages
  community.general.homebrew:
    name: "{{ item.name }}"
    install_options: "{{ item.options|default() }}"
  with_items:
    - name: git
    - name: fzf
    - name: ripgrep
    - name: colordiff
    - name: source-highlight
    - name: difftastic
    - name: jq
    - name: yq
    - name: direnv
    - name: watch
    - name: tree
    - name: jump
    - name: gpg
    - name: pinentry-mac
    - name: mise
    - name: docker-credential-helper

- name: Install homebrew cask packages
  community.general.homebrew_cask:
    name: "{{ item.name }}"
  with_items:
    - name: jordanbaird-ice
    - name: browserosaurus

- name: Create symbolic link fir diff-highlight (Intel)
  when: "ansible_architecture == 'x86_64'"
  file:
    src: '/usr/local/share/git-core/contrib/diff-highlight/diff-highlight'
    dest: '/usr/local/bin/diff-highlight'
    state: link

- name: Create symbolic link fir diff-highlight (ARM)
  when: "ansible_architecture == 'arm64'"
  file:
    src: '/opt/homebrew/opt/git/share/git-core/contrib/diff-highlight/diff-highlight'
    dest: '/opt/homebrew/bin/diff-highlight'
    state: link

